{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{%if not pool['new']%}Edit Pool "{{pool['description']}}"{%else%}New Pool{%endif%}{% endblock %}</h1>
{% endblock %}

{% block content %}


<div>
	<form method="POST" action="{%if pool['new']%}{{url_for('rechenknecht.editPool')}}{%else%}{{url_for('rechenknecht.editPool', poolid=pool['id'])}}{%endif%}"/>
	<label for="name">Pool name</label>
	<input id="name" name="name" type="text" value="{{pool['description']}}">
	<fieldset>
		<legend>Members</legend>
		<div>
		{%for u in users %}
		<input type="checkbox" id="{{u['id']}}" name="members" value="{{u['id']}}" {%if u['id'] in members %} checked {%endif%} >
			<label for="{{u['id']}}">{{u['username']}}</label>
		{%endfor%}
		</div>
	</fieldset>
	{%if not pool['new']%}
	<button class="btn-primary">edit pool</button>
	{%else%}
	<button class="btn-success">Add pool</button>
	{%endif%}
	{%if pool.disabled%}
	<button class="btn-secondary" name="enable" value="enable">activate pool</button>
	{%else%}
	<button class="btn-danger" name="deactivate" value="deactivate">deactivate pool</button>
	{%endif%}
	</form>

</div>




{% endblock %}
