{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}


<h4>Add an item</h4>
<form method="POST" action="{{url_for('rechenknecht.addItem')}}">
	<div class="form-group">
	<label for="name">Item Name</label>
	<input id="name" name="name" type="text"/>
	</div>
	<div class="form-group">
	<label for="shop">Shop</label>
	<select id="shop" name="shop"> 
		{%for s in shops%}
		<option value={{s['id']}}>{{s['name']}}</option>
		{%endfor%}
	</select>
	</div>
	<div class="form-group">
	<label for="price">Price</label>
	<input id="price" name="price" type="number" pattern="[0-9]+([\.,][0-9]+)?" step="0.01"/>
	</div>
	<div class="form-group">
	<button class="btn-primary">Add new Item</button>
	</div>
</form>
<h4>Add Shop</h4>
<form method="POST" action="{{url_for('rechenknecht.addShop')}}">
	<button class="btn-primary">Add Shop</button>
</form>

<h4>Edit Shop</h4>
<ul>
	{%for s in shops %}
	<li><a href="{{url_for('rechenknecht.editShop', shopid=s['id'])}}">{{s['name']}}</a></li>
	{%endfor%}
</ul>
	<h4>Set Password</h4>
	<form method="POST" action="{{url_for('auth.reset',username=g.user['username'])}}">
		<label for="oldpass">old pass</label>
		<input id="oldpass" name="oldpass" type="password"/>
		<label for="newpass">new pass</label>
		<input id="newpass" name="newpass" type="password"/>
		<button class="btn-danger">Set new password</button>
	</form>

	<h4>Manage Darkmode</h4>
		<form action="{{url_for("rechenknecht.toggleMode")}}" method="POST">
			<button class="btn-primary">{%if g.user['darkmode']%}Go light{%else%}Go dark{%endif%}</button>
		</form>
{% if g.user['privileges'] > 0 %}
<h3>Admin stuff</h3>
<h4>Add Pool</h4>
<form method="POST" action="{{url_for('rechenknecht.addPool')}}">
	<label for="name">Pool name</label>
	<input id="name" name="name" type="text"/>
	<fieldset>
		<legend>Members</legend>
		<div>
		{%for u in users %}
			<input type="checkbox" id="{{u['id']}}" name="members" value="{{u['id']}}" />
			<label for="{{u['id']}}">{{u['username']}}</label>
		{%endfor%}
		</div>
	</fieldset>
	<button class="btn-primary">add pool</button>
</form>
<h4>Edit Pool</h4>
<p>active pools</p><ul>
{%for p in pools %}
{%if not p['disabled'] %}
<li><a href="{{url_for('rechenknecht.editPool', poolid=p['id'])}}">{{p.description}}</a></li>
{%endif%}
{%endfor%}
</ul>

<p>inactive pools</p><ul>
{%for p in pools %}
{%if p['disabled'] %}
<li><a href="{{url_for('rechenknecht.editPool', poolid=p['id'])}}">{{p.description}}</a></li>
{%endif%}
{%endfor%}
</ul>


	<h4>Add User</h4>
	<form method="POST" action="{{url_for('rechenknecht.addUser')}}">
	<div class="form-group">
		<label for="name">Name</label>
		<input id="name" name="name" type="text"/>
	</div><div class="form-group">
		<label for="pass">Password</label>
		<input id="pass" name="pass" type="password"/>
	</div>
	<div class="form-group">
		<label for="admin">
			<span><input id="admin" type=checkbox name="admin"/>Is admin?</span></label>
	</div>

	<div class="form-group">

		<button class="btn-primary">add user</button>
	</div>
	</form>

<h4>Edit user</h4>
<p>active users</p>
<ul>
{%for u in users%}
{%if not u['disabled'] %}
	<li><a href="{{url_for('rechenknecht.editUser', userid=u['id'])}}">{{u['username']}}</a></li>
	{%endif%}
{%endfor%}
</ul>

<p>inactive users</p>
<ul>
{%for u in users%}
{%if u['disabled'] %}
	<li><a href="{{url_for('rechenknecht.editUser', userid=u['id'])}}">{{u['username']}}</a></li>
	{%endif%}
{%endfor%}
</ul>
	{%endif%}

<div>
	<h3>Item stuff</h3>
	<h4>Edit an item</h4>
	<table>
		<tr>
			<th>Item</th><th>Shop</th><th>Price</th><th>Actions</th>
		</tr>
		{% for x in items %}
				<tr>
				<td>{{x['description']}}</td>
				<td>{{x['name']}}</td>
				<td>{{x['price']/100}}€</td>
				<td><a href="{{url_for('rechenknecht.editItem', itemid=x['id'])}}"><button class="btn-secondary">edit</button></a></td>
				</tr>

		{%endfor%}
	</table>
</div>

{% endblock %}
