{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}

	<form method="POST" action="{{url_for('auth.reset',username=g.user['username'])}}">
		<label for="oldpass">old pass</label>
		<input id="oldpass" name="oldpass" type="password"/>
		<label for="newpass">new pass</label>
		<input id="newpass" name="newpass" type="password"/>
		<button class="btn-danger">Set new password</button>
	</form>

	<h4>Manage Darkmode</h4>
		<form action="{{url_for("rechenknecht.toggleMode")}}" method="POST">
			<button class="btn-primary">{%if g.user['darkmode']%}Go light{%else%}Go dark{%endif%}</button>
		</form>
<div class="paper">
<a href="{{url_for('rechenknecht.editShop')}}">
	<button class="btn-secondary">Add Shop</button></a>

<h4>Edit Shop</h4>
<ul>
	{%for s in shops %}
	<li><a href="{{url_for('rechenknecht.editShop', shopid=s['id'])}}">{{s['name']}}</a></li>
	{%endfor%}
</ul>
</div>
{% if g.user['privileges'] > 0 %}
<h3>Admin stuff</h3>
<div class="paper">
	<a href="{{url_for('rechenknecht.editPool')}}"><button class="btn-secondary">add pool</button></a>
</form>
<h4>Edit Pool</h4>
<p>active pools</p><ul>
{%for p in pools %}
{%if not p['disabled'] %}
<li><a href="{{url_for('rechenknecht.editPool', poolid=p['id'])}}">{{p.description}}</a></li>
{%endif%}
{%endfor%}
</ul>

<p>inactive pools</p><ul>
{%for p in pools %}
{%if p['disabled'] %}
<li><a href="{{url_for('rechenknecht.editPool', poolid=p['id'])}}">{{p.description}}</a></li>
{%endif%}
{%endfor%}
</ul>
</div>
<div class="paper">
<a href="{{url_for('rechenknecht.editUser')}}"><button class="btn-secondary">Add user</button></a>
<h4>Edit user</h4>
<p>active users</p>
<ul>
{%for u in users%}
{%if not u['disabled'] %}
	<li><a href="{{url_for('rechenknecht.editUser', userid=u['id'])}}">{{u['username']}}</a></li>
	{%endif%}
{%endfor%}
</ul>

<p>inactive users</p>
<ul>
{%for u in users%}
{%if u['disabled'] %}
	<li><a href="{{url_for('rechenknecht.editUser', userid=u['id'])}}">{{u['username']}}</a></li>
	{%endif%}
{%endfor%}
</ul>
	{%endif%}
</div>
<div class="paper">
<div>
	<h3>Item stuff</h3>
	<h4>Edit an item</h4>
	<table>
		<tr>
			<th>Item</th><th>Shop</th><th>Price</th><th>Actions</th>
		</tr>
		{% for x in items %}
				<tr>
				<td>{{x['description']}}</td>
				<td>{{x['name']}}</td>
				<td>{{x['price']/100}}€</td>
				<td><a href="{{url_for('rechenknecht.editItem', itemid=x['id'])}}"><button class="btn-secondary">edit</button></a></td>
				</tr>

		{%endfor%}
	</table>
</div>
</div>

{% endblock %}
