{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{%if not user['new']%}Edit User "{{user['username']}}"{%else%}New User{%endif%}{% endblock %}</h1>
{% endblock %}

{% block content %}


<div>
	<form method="POST" action="{%if user['new']%}{{url_for('rechenknecht.editUser')}}{%else%}{{url_for('rechenknecht.editUser', userid=user['id'])}}{%endif%}"/>
	<label for="username">Username</label>
	<input id="username" name="username" type="text" value="{{user['username']}}"/>

	<label for="password">Password</label>
	<input id="password" name="password" type="password" {%if user['new']%}required{%endif%}/>
	
	<label for="privileges">Privileges</label>
	<input id="privileges" name="privileges" type="number" pattern="[01]" step="1" value="{{user['privileges']}}"/>

	<label for="darkmode">Dark Mode</label>
	<input id="darkmode" name="darkmode" type="checkbox" {%if user['darkmode']%}checked{%endif%}/>

	<label for="disabled">Disabled</label>
	<input id="disabled" name="disabled" type="checkbox" {%if user['disabled']%}checked{%endif%}/>



	{%if not user['new']%}
	<button class="btn-danger">Safe changes</button>
	{%else%}
	<button class="btn-success">Add user</button>
	{%endif%}
	</form>

</div>



{% endblock %}
